nav ul {
	margin: 0;
	padding: 0;
	border-style: solid;
	border-color: black;
	font-family: 'Press Start 2p', cursive;
}

.w3-row {
	background-color: #2093fe;
	size: 80%;
}

 #hover:hover {
	transition: background-color 0.5s ease;
	background-color: #08c23d !important;
	-webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.memeHdr h1 {
	font-family: 'Press Start 2p', cursive;
	padding-top: 20px;
	text-align: center;
	font-size: 21;
}

/* Images */

.homeImages {
	margin: 40px;
	align-items: center;
	display: flex;
}

.homeImages img {
	margin: 10px;
	max-height: 200px;
	max-width: 200px;
}

#fblogo:hover {
 transition: 1s ease;
 border-radius: 50%;
}

/*footer*/

footer {
	text-align: center;
	padding-bottom: 20px
}

footer img {
	margin: 12px;
}
